body {
    height: 100vh;
    background-color: none;
    background-image: url("../Styling/flower_girl_blue.png");
    width: 100%;
    background-size: cover;
    background-position: center;
}

/* TYPOGRAPHY */
h2 {
    font-family: 'Oooh Baby', cursive;
}

p {
    color: #8d8d8d;
    font-size: 0.75rem;
}

/* STYLING */
.quotes-navigation {
    height: 10vh;
}

.outer-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-card {
    text-align: center;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 1em 0;
    margin: 2em 0;
    width: 60%;
    max-width: 900px;
}

.individual-quotes {
    border-bottom: 1px solid #fff;
    display: flex;
    padding: 1em 0;
}

.quotes-area {
    width: 60%;
    padding: 1em 2em;
}

.quotes-buttons {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quotes-buttons-delete,
.quotes-buttons-update {
    width: 40%;
    margin: 0 auto;
    border: none;
    padding: 0.5em 1em;
    border: 2px solid #262626;
}

.quotes-buttons-delete {
    background-color: #FEFF86;
}

.quotes-buttons-update {
    margin-top: 0.5em;
    background-color: inherit;
}

.quotes-buttons-delete:hover,
.quotes-buttons-update:hover,
.submit-button:hover {
    background-color: #ffffcc;
    color: inherit;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 2em;
}

form input {
    border: 2px solid #262626;
    width: 80%;
    align-items: center;
    justify-content: center;
    padding: 1em 2em;
    margin-bottom: 1em;
}

.submit-button {
    border: none;
    padding: 1em 2em;
    border: 2px solid #262626;
    background-color: #FEFF86;
}