body {
    background: linear-gradient(90deg, rgba(205,252,246,1) 29%, rgba(188,206,248,1) 75%);
}

/* TYPOGRAPHY */
h1 {
    border-bottom: 1px solid #fff;
    padding-bottom: 1em;
}

h2 {
    font-family: 'Oooh Baby', cursive;
}

h4 {
    margin: 1em 0;
}

p {
    color: #8d8d8d;
    font-size: 1rem;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em;
}

.link:hover,
.link:focus {
    color: #ffff;
}

/* STYLING */
/* NAVIGATION */
.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1em;
}

.navigate-quotes-button {
    margin-top: 1em;
}

/* HOMEPAGE */
.homepage-card {
    display: flex;
    padding: 1em 2em;
}

.homepage-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.homepage-content p {
    width: 100%;
    text-align: left;
    margin-bottom: 2em;
    font-size: 1.25rem;
    color: inherit;
}

.homepage-button-container {
    width: 100%;
    margin-right: auto;
    display: flex;
    align-items: left;
}

.homepage-card button {
    background-color: #98A8F8;
    color: #ffff
}

.homepage-card button:hover {
    background-color: #fff;
    color: inherit;
}

.homepage-card img {
    width: 50%;
}



.signup-link {
    display: inline-block;
    margin-top: 1em !important;
    text-transform: uppercase;
}


.outer-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-card {
    text-align: center;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 1em 0;
    margin: 2em 0;
    width: 60%;
    max-width: 900px;
}

.individual-quotes {
    border-bottom: 1px solid #fff;
    display: flex;
    padding: 1em 0;
}

.favorites-quotes {
    border-bottom: 1px solid #fff;
    padding: 2em;
}

.quotes-area {
    width: 60%;
    padding: 1em 2em;
}

.quotes-container {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.quotes-buttons-delete,
.quotes-buttons-update {
    width: 60%;
    margin: 0 auto;
    border: none;
    padding: 0.5em 1em;
    border: 2px solid #262626;
}

.quotes-buttons-delete {
    /* background-color: #FAF7F0 */
    background-color: #ffff;
}

.quotes-buttons-update {
    margin-top: 0.5em;
    background-color: inherit;
}

.quotes-buttons-delete:hover,
.quotes-buttons-update:hover,
.submit-button:hover {
    background-color: #98A8F8;
    color: #fff;
}

button {
    border: 2px solid #262626;
    background-color: #ffff;
    padding: 1em 2em;
    text-transform: uppercase;
}

button:hover {
    background-color: #98A8F8;
    color: #ffff;
}

.favorites-quotes p {
    margin-bottom: 1em;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 2em;
}

form input {
    border: 2px solid #262626;
    width: 80%;
    align-items: center;
    justify-content: center;
    padding: 1em 2em;
    margin-bottom: 1em;
}

.submit-button {
    border: none;
    padding: 1em 2em;
    border: 2px solid #262626;
    background-color: #BCCEF8;
}

.heart-icon {
    width: 30px;
}

@media screen and (max-width: 480px) {
    .link:hover,
    .link:focus {
        color: #98A8F8
    }
    .navigation {
        padding-top: 1em;
        width: 100%;
        justify-content: center;
    }
    .navigation button {
        padding: 1em 2em;
        font-size: 0.5rem;
    }
    .link {
        font-size: 0.75rem;
        padding: 0.5;
    }
    .inner-card {
        width: 80%;
    }
    .homepage-card {
        flex-direction: column;
        padding: 0;
    }
    .homepage-card img {
        width: 100%;
    }
    .homepage-content p {
        font-size: 1rem;
    }
}
